NODE_ENV=local

# Service
SERVICE_VERSION=local
HOST=0.0.0.0
PORT=3001
ENVIRONMENT=local
LOG_ENABLED=true
LOG_LEVEL=info
LOG_FORMAT=pino-pretty

# Request history
REQUEST_HISTORY_MAX_SIZE=1000
REQUEST_HISTORY_WINDOW_MINUTES=10

# dev dependent env vars
SONAR_TOKEN=your-personal-sonar-token # mandatory to enable SonarQube Cloud local scanning
